body {
  background-image: url(Fondo.jpg);
}

.banner {
  color: rgb(17, 0, 252);
  margin: 30px auto;
  align-items: center;
  text-align: center;
  max-width: max-content;
  font-size: 80px;
  display: flex;
  gap: 20px;
  margin-bottom: 20px;
  border-radius: 10px;
}

.icon {
  width: 80px;
  height: auto;
  border-radius: 50px;
}

.redes {
  text-align: center;
  color: rgb(37, 147, 243);
}

#hobby {
  color: rgba(240, 5, 228, 0.774);
  text-align: center;
}

#lista1 {
  color: rgb(124, 0, 161);
  border-radius: 3%;
  border-color: rgb(9, 0, 90);
  text-align: center;
  font-size: 30px;
  list-style-position: inside;
  width: fit-content;
}

.info {
  color: rgb(0, 0, 0);
  text-align: center;
}

#lista2 {
  color: rgb(124, 0, 161);
  border-radius: 3%;
  border-color: rgb(9, 0, 90);
  text-align: center;
  font-size: 30px;
  list-style-position: inside;
  width: fit-content;
}

.contenedor-listas {
  display: flex;
  flex-direction: row;
  gap: 320px;
}

.img {
  width: 300px;
  border-radius: 30px;
  text-align: center;
}

@media screen and (max-width: 480px) {
  .contenedor-listas {
    flex-direction: column;
    gap: 20px;
    align-items: center;
  }

  .img {
    width: 200px;
    border-radius: 30px;
    text-align: center;
  }

  #lista1,
  #lista2 {
    font-size: 20px;
  }

  .banner {
    font-size: 50px;
  }

  .icon {
    width: 50px;
  }

  .redes {
    font-size: 14px;
  }

  #hobby {
    font-size: 18px;
  }

  .info {
    font-size: 14px;
  }
}

@media screen and (min-width: 481px) and (max-width: 1024px) {
  .contenedor-listas {
    flex-direction: column;
    gap: 20px;
    align-items: center;
  }

  .img {
    width: 250px;
    border-radius: 30px;
    text-align: center;
  }
  #lista1,
  #lista2 {
    font-size: 25px;
  }
  .banner {
    font-size: 60px;
  }
  .icon {
    width: 60px;
  }
  .redes {
    font-size: 16px;
  }
  #hobby {
    font-size: 20px;
  }
  .info {
    font-size: 16px;
  }
}

@media screen and (min-width: 1025px) {
  .contenedor-listas {
    flex-direction: row;
    gap: 320px;
  }

  .img {
    width: 300px;
    border-radius: 30px;
    text-align: center;
  }

  #lista1,
  #lista2 {
    font-size: 30px;
  }

  .banner {
    font-size: 80px;
  }

  .icon {
    width: 80px;
  }

  .redes {
    font-size: 18px;
  }

  #hobby {
    font-size: 30px;
  }

  .info {
    font-size: 18px;
  }
}
